*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(./Picture/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color: #4DC0B2;
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2%;
  color: #fff;
  margin: auto;
}

.heading {
  margin: 20px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 10px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid #333;
  margin-top: 10px;
  transition: background 1s ease;
  font-weight: 600;
}

.button:hover {
background: #333;
color: #fff;
letter-spacing: 2px;
}


  

@media only screen and (max-width: 600px) {
  .card {
     width: 80%;
     height: 260px;
      
  }
}

