*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F3F4FB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2%;
  color: #344252;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.heading {
  margin: 20px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 13px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid #333;
  margin-top: 10px;
  transition: background 4s ;
  font-weight: 600;
}

.button:hover {
background: #344252;
color: #fff;
letter-spacing: 2px;
}


  

@media only screen and (max-width: 600px) {
  .card {
     width: 80%;
     height: 260px;
      
  }
}

